.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.mobile-menu{
  display: none;
  background-color: #333;
  position: absolute;
  width: 95%;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0 auto;
  opacity: 0;
  z-index: 2;
  &__items{
    border-bottom: 1px solid #3b3b3b;
    position: relative;
    color: #fff;
    &::before{
      content: '';
      display: block;
      width: 8px;
      height: 53px;
      position: absolute;
      left:0;
      top:0;
      bottom: 0;
      margin: auto;
      background-color: $main-color;
      opacity: 0;
      transition: 200ms ease-in;
    }
    &:hover::before{
      opacity: 1;
    }
    &:hover{
      color: $main-color;
    }
  }
  &__links{
    color: inherit;
    font-size: 26px;
    display: inline-block;
    width: 100%;
    padding: 30px 30px;
  }
}
.navbar {
  background-color: #27262a;
  padding: 30px 0;
  font-family: Montserrat, sans-serif;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    display: flex;
    align-items: center;
    color: white;
    &:hover &__text{
      color:white;
    }
    &:hover &__logo::after{
      opacity: 1;

    }
    &__logo{
      display: block;
      width: 43px;
      height: 49px;
      overflow: hidden;
      position: relative;
      &::after{
        content : '';
        display: block;
        width: 100%;
        height: 100%;
        background-image : url("../img/Logo.png");
        background-position: 0 57px;
        position: absolute;
        left:0;
        top:0;
        opacity: 0;
        transition: opacity 200ms ease-in;
      }
    }

    &__text {
      text-transform: uppercase;
      padding-left: 20px;
      color: $main-color;
      font-family: Lato, sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 16px;
      transition: color 200ms ease-in;
    }
  }
  &-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__list {
      display: flex;
    }
    &__item {
      padding-right: 30px;
    }
    &__link {
      text-decoration: none;
      color: $main-color;
      font-size: 16px;
      font-weight: 600;
      line-height: 15px;
      transition: color 200ms ease-in;
      &:hover{
        color:white;
      }
    }
    &__button {
      background-color: $main-color;
      color: white;
      border-radius: 15px;
      border: none;
      padding: 8px 28px;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      transition: color 200ms ease-in, background-color 200ms ease-in;
      &:hover{
        color:$main-color;
        background-color: white;
      }
    }
  }
  @media only screen and (min-width: $screen-lg){
    &-menu{
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
  @media only screen and (min-width: $screen-md + 1) and (max-width: $screen-lg){
    &-menu{
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
  @media only screen and (min-width: $screen-sm + 1) and (max-width: $screen-md) {
    &-content{
      flex-wrap: wrap;
    }
    &-title{
      order : 1;
    }
    &-menu__button {
      order: 2;
    }
    &-menu{
      flex-basis: 100%;
      order: 3;
      margin-top: 17px;
      &__link{
        font-size:14px;
      }
    }
  }
  @media only screen and (max-width: $screen-sm) {
    & {
      position: relative;
    }
    &-title__text{
      display: none;
    }
    .navbar-menu{
      background-color: #333;
      position: absolute;
      width: 95%;
      left: 0;
      right: 0;
      top: 100%;
      margin: 0 auto;
      z-index: 2;
      display: none;

      &__list{
        flex-wrap: wrap;
      }
      &__item{
        width: 100%;
        border-bottom: 1px solid #3b3b3b;
        position: relative;
        color: #fff;
        &::before{
          content: '';
          display: block;
          width: 8px;
          height: 53px;
          position: absolute;
          left:0;
          top:0;
          bottom: 0;
          margin: auto;
          background-color: $main-color;
          opacity: 0;
          transition: 200ms ease-in;
        }
        &:hover::before{
          opacity: 1;
        }
        &:hover{
          color: $main-color;
        }
      }
      &__link{
        color: inherit;
        font-size: 26px;
        display: inline-block;
        font-weight: normal;
        width: 100%;
        padding: 30px 30px;
      }
    }
    .hamburger-menu{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      order:1;
    }
  }

}
